html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 1.5rem;
  background-color: #668;
  font-family: sans-serif;
}


img {
  width: 100%;
  margin: 0 0 1.5rem;

}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:4rem 1fr 4rem;

}
header img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

nav ul {
  list-style-type: none;
  margin:0;
  padding:0;
  display: flex;
  font-size: 1.125rem;


}

nav a,
nav a:visited {
  text-decoration: none;
  colour: #111;
  padding:0.5rem

}

nav a:hover,
nav a:focus {
  background-color: #220;
    color: #fff;

}

.my-work {
  display: grid;
  margin: 0;
  padding: 2rem 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;


}



article {
  background-color: #fff;
  border: 2px solid #e7e7e7;
  border-radius: 20px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p {
  margin: 0 0 auto;
}

section a {
  font-size: 1.125rem;
  background-color: #e7e7e7;
  color: #000;
  text-decoration: none;
  margin: 1.5rem 0 0 0;
  padding: .75em;
  text-align: center;
  border-radius: 10px;
}

section a:hover {
  background-color: #000;
  color: #fff;
}



#my-work {

}

#contact {

}
#about-me {
  display: flex;
  padding: 2rem;

}




h1 {
  font-size: 1.5rem;
}



}
